<!DOCTYPE html>

<html ng-app="catApp">
	<head>
		<meta charset="utf-8">

		<title>An HTML Page</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/KittiesController.js"></script>
	</head>

	<body ng-controller="catController as kitties">
		<div id="container">
			<h1></h1>
			<div class="left-container">
				<section class="dashed" ng-repeat="kitty in kitties.catList | filter:{adopted: false}">
					<h2>Kitties Waiting for Adoption</h2>
					<p>{{kitty.catName}}</p>
					<p>{{kitty.monthsOld}}</p>
					<p>{{kitty.gender}}</p>

					<img src="{{kitty.image}}"/>
					<p>Adopt?<input type="checkbox" ng-model="kitty.adopted"></p>
				</section>
			</div>


			<div class="right-container">
				<section class="dashed" ng-repeat="kitty in kitties.catList | filter:{adopted: true}">
					<h2>Kitties Adopted</h2>
					<p>{{kitty.catName}}</p>
					<p>{{kitty.monthsOld}}</p>
					<p>{{kitty.gender}}</p>

					<img src="{{kitty.image}}"/>
					<p>No Love?<input type="checkbox" ng-model="kitty.adopted"></p>
				</section>
			</div>
		</div>
	</body>
</html>
